<h2 mat-dialog-title>Explore {{ place.title }} <img width="37" height="37" src="https://img.icons8.com/glyph-neue/64/gallery.png" alt="gallery"/></h2>
<div mat-dialog-content>
    <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
      <a data-lg-size="1400-1400"  href = {{place.imgSrc}}>
        <img  class="gallery-item" src={{place.imgSrc}} />
      </a>
      <a data-lg-size="1400-1400" class="gallery-item" href = {{place.imgScr1}}>
        <img class="gallery-item" src={{place.imgScr1}} />
      </a>
      <a data-lg-size="1400-1400" class="gallery-item" href = {{place.imgScr2}}>
        <img class="gallery-item" src={{place.imgScr2}} />
      </a>
      <a data-lg-size="1400-1400" class="gallery-item" href = {{place.imgScr3}}>
        <img class="gallery-item" src={{place.imgScr3}} />
      </a>
    </lightgallery>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()" style="background-color: black; color: white; margin-left: 17px;border-radius: 20px;width: 160px;height: 40px;">Close</button>
</div>
