.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.webname {
  display: flex;
  align-items: center;
}

.navbar-brand {
  color: #007bff;
  font-weight: 600;
  margin-top: 7px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-color: #007bff;
}

.navbar-nav .nav-link {
  color: #000000;
  transition: color 0.3s;
  margin-right: 15px;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.navbar-nav .nav-link.active {
  color: #007bff;
  font-weight: bold;
}

.profile-image-toolbar {
  border-radius: 50%;
  margin-right: 8px;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  color: #000000;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
  color: #007bff;
}

@media (max-width: 767px) {
  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
