<div class="model-content">
    <!-- User details form -->
    <div class="center">
        <h1>Travellers Details</h1>
    </div>
    <div class="user-details">
       
        <form (submit)="submitUserData()">
            <div class="cont">
                <div class="c1">
                    <div *ngIf="showNewPersonForm" class="form-group">
                        <label for="name" class="form-label">Full Name:</label>
                        <input type="text" id="name" class="form-input" [(ngModel)]="newPerson.name" name="name" required>
                        <br><br>
                        <label for="dob" class="form-label date-label">Date of Birth:</label>
                        <input type="date" [(ngModel)]="newPerson.dob" name="dob" required>
                        <br><br>
                        <label for="gender" class="form-label gender-label">Gender:</label>
                        <select [(ngModel)]="newPerson.gender" name="gender" required>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                        <br><br>
                    </div>
                    <div class="buttons-container">
                        <!-- Add Person button -->
                        <button type="button" id="add" (click)="addPerson()">Add Person</button>
                    </div>
                </div>
               
            </div>
            <!-- Input fields for new person -->
            
            
            <!-- Table to display user details -->
            <br><br>
            <div class="t1">
                <!-- User details table -->
                <table *ngIf="personsData.length > 0">
                    <!-- Table headers -->
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date of Birth</th>
                            <th>Gender</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <!-- Table body -->
                    <tbody>
                        <tr *ngFor="let person of personsData; let i = index">
                            <!-- Table cells -->
                            <td>{{ person.name }}</td>
                            <td>{{ person.dob }}</td>
                            <td>{{ person.gender }}</td>
                            <td>
                                <button type="button" (click)="editPerson(i)">Edit</button>
                                <button type="button" (click)="removePerson(i)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <!-- Submit button -->
    <div class="button-container1">
        <button type="button" (click)="submitUserData()" [disabled]="personsData.length === 0">Submit</button>
    </div>
    
    
</div>
