<div class="package">

    <body>

        <!-- carousel -->
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.easemytrip.com/holidays/Content/customize/search-home/img/offer/lakshadweep-slider.png"
                        class="d-block w-100 carImage" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.easemytrip.com/holidays/Content/customize/search-home/img/offer/cruise-banner-home.png"
                        class="d-block w-100 carImage" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.easemytrip.com/holidays/Content/customize/search-home/img/offer/SWITZERLAND-slider.png"
                        class="d-block w-100 carImage" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.easemytrip.com/holidays/Content/customize/search-home/img/offer/kerala-slider.png?bh"
                        class="d-block w-100 carImage" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.easemytrip.com/holidays/Content/customize/search-home/img/offer/EasternEuropeanWonder-slider.png"
                        class="d-block w-100 carImage" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.easemytrip.com/holidays/Content/customize/search-home/img/offer/EXCLUSIVEEUROPE-slider.png"
                        class="d-block w-100 carImage" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.easemytrip.com/holidays/Content/customize/search-home/img/offer/andaman-slider.png?k  "
                        class="d-block w-100 carImage" alt="...">
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <h2>TOP DESTINATIONS IN <span>
                            <h3>INDIA <img src="../../assets/icon/india.png" alt=""></h3>
                        </span></h2>
                </div>
            </div>


            <input type="text" placeholder="Filter by Destination" [(ngModel)]="filterText"
                (ngModelChange)="filterBoxes()">

            <div class="row row-cols-1 row-cols-md-3 g-4 cards"
                style="display: flex;justify-content: space-between; margin: 0px 0px 30px 0px; align-content: center;">

                <div class="col" *ngFor="let place of filteredBoxes">
                    <div class="card">
                        <a (click)="sendEnquiry(place)">
                            <img src={{place.imgSrc}} class="card-img-top" alt="{{ place.title }}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ place.title }} </h5>
                            <p class="card-text" style="text-align: left;">{{ place.description }}</p>
                            <div class="button-container" style="display: flex; justify-content: space-between;">
                                <div>
                                    <button routerLink={{place.path}} class="btn btn-primary button-margin"
                                        [disabled]="place.disable"
                                        style="background-color:rgb(40, 40, 196);color: white ; border-radius: 10px; width: 100%;height: 40px;">Explore
                                        Now</button>
                                </div>
                                <div>
                                    <!-- <a class="btn btn-primary" (click)="sendEnquiry('Premium')" matTooltip="Click on Book now , to Book Your Package">Book Now</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="filteredBoxes.length === 0" class="plchol">
                    <h2>No destinations!</h2>
                    <!-- <h4>Sorry, no destinations match your filter.</h4> -->
                </div>
            </div>
        </div>
    </body>
</div>