<!-- profile.component.html -->
<div class="profile-container">
  <div class="profile-header">
    <div *ngIf="userData.photoURL; else elseBlock">
      <img
        [src]="userData.photoURL"
        alt="Profile Picture"
        class="profile-picture"
      />
    </div>
    <ng-template #elseBlock>
      <img
        src="../../assets/images/image-placeholder.png"
        alt="Profile Picture"
        class="profile-picture"
      />
    </ng-template>
    <h2 class="profile-name">{{ userData.displayName }}</h2>
  </div>
  <div class="profile-details">
    <div class="detail-row" *ngIf="userData.email">
      <div class="detail-label">Email:</div>
      <div class="detail-value">{{ userData.email }}</div>
    </div>
    <div class="detail-row" *ngIf="userData.dob">
      <div class="detail-label">DoB:</div>
      <div class="detail-value">{{ userData.dob }}</div>
    </div>
    <div class="detail-row" *ngIf="userData.phoneNumber">
      <div class="detail-label">Phone Number:</div>
      <div class="detail-value">{{ userData.phoneNumber }}</div>
    </div>
    <div
      class="detail-row"
      *ngIf="userData.metadata && userData.metadata.lastSignInTime"
    >
      <div class="detail-label">Last Sign-In:</div>
      <div class="detail-value">
        {{ userData.metadata.lastSignInTime | date : "medium" }}
      </div>
    </div>
    <div
      class="detail-row"
      *ngIf="userData.metadata && userData.metadata.creationTime"
    >
      <div class="detail-label">Creation Time:</div>
      <div class="detail-value">
        {{ userData.metadata.creationTime | date : "medium" }}
      </div>
    </div>
  </div>
</div>
