<!-- profile.component.html -->
<div class="profile-container">
  <div class="profile-header">
    <div *ngIf="user.photoURL">
      <img
        [src]="user.photoURL"
        alt="Profile Picture"
        class="profile-picture"
      />
    </div>
    <h2 class="profile-name">{{ user.displayName }}</h2>
  </div>
  <div class="profile-details">
    <div class="detail-row">
      <div class="detail-label">Email:</div>
      <div class="detail-value">{{ user.email }}</div>
    </div>
    <div class="detail-row">
      <div class="detail-label">Provider:</div>
      <div class="detail-value">{{ user.providerData[0].providerId }}</div>
    </div>
    <div class="detail-row">
      <div class="detail-label">Last Sign-In:</div>
      <div class="detail-value">
        {{ user.metadata.lastSignInTime | date : "medium" }}
      </div>
    </div>
    <div class="detail-row">
      <div class="detail-label">Creation Time:</div>
      <div class="detail-value">
        {{ user.metadata.creationTime | date : "medium" }}
      </div>
    </div>
  </div>
</div>
