<div class="home">
  <header>
    <div class="content">
      <div class="cont_bx" style="margin-bottom: 34px">
        <h2>Hello {{ user.displayName }}!</h2>
        <h3>The right destination for you and your family</h3>
        <div style="background: transparent;">
          <br>
          <br>
          <br>
        </div>
        <!-- <button>Start your search</button> -->
      </div>
      <div class="trip_bx">

        <div class="search_bx" style="height: 60px; width: max-content">
          <form (submit)="btnClick()" [formGroup]="taskForm" class="row">
            <div class="card1">
              <label for="toplace">Location<i class="bi bi-caret-down-fill"></i></label>
              <input type="text" class="form-control" id="toplace" formControlName="toplace"
                [(ngModel)]="sendservice.selectedTask.toplace" name="toplace" required pattern="[A-Za-z\s]+"
                [readonly]="sendservice.editingIndex !== null">
              <div
                *ngIf="taskForm.get('toplace').invalid && (taskForm.get('toplace').dirty || taskForm.get('toplace').touched)">

                <div class="error-message" *ngIf="taskForm.get('toplace').errors?.['pattern']">Only letters and spaces
                  are allowed.</div>
              </div>


              <small *ngIf="taskForm.get('toplace')?.errors?.['required']">To place is required.</small>
              <!-- <small *ngIf="toplace.errors?.['pattern']">Please enter a valid name (no numbers or
                special characters).</small> -->



            </div>

            <div class="card1">
              <label for="travelDate">Date<i class="bi bi-caret-down-fill"></i></label>
              <input type="date" class="form-control" id="date" name="date" formControlName="date"
                [(ngModel)]="sendservice.selectedTask.date">
              <!-- <div *ngIf="taskForm.form.get('travelDate').errors">
                <p *ngIf="taskForm.form.get('travelDate').hasError('required')">Travel Date is required.</p>
                <p *ngIf="taskForm.form.get('travelDate').hasError('invalidDate')">Travel Date should be a future date.</p>
              </div> -->
              <small *ngIf="taskForm.get('date')?.errors?.['required']">Date is required.</small>
              <small *ngIf="taskForm.get('date')?.errors?.['invalidDate']">Please enter a date after
                today.</small>
            </div>

            <div class="card1">
              <label for="travellerCount">People<i class="bi bi-caret-down-fill"></i></label>
              <input type="number" class="form-control" id="travellerCount" formControlName="travellerCount"
                name="travellerCount" min="1" max="15" required [(ngModel)]="sendservice.selectedTask.travellerCount">
              <small *ngIf="taskForm.get('travellerCount')?.errors?.['required']">Number of travelers is
                required.</small>
              <small *ngIf="taskForm.get('travellerCount')?.errors?.['minTravellers']">Travelers number should be less
                then 15 grater the 1</small>
              <!-- <small
                *ngIf="taskForm.controls['travellerCount'].errors?.['min'] || taskForm.controls['travellersCount'].errors?.['max']">Number
                of travellers must be between 1 and 15.</small> -->
              <!-- <div *ngIf="taskForm.form.get('numberOfTravellers').errors">
                  <p *ngIf="taskForm.form.get('numberOfTravellers').hasError('required')">Number of Travellers is required.</p>
                  
                </div> -->
            </div>
            <div class="card1">
              <!-- [disabled]="taskForm.invalid || sendservice.editingIndex !== null" -->
              <button type="submit" class="btn btn-primary" class="btn"
                style="background-color: rgb(0, 0, 0); color: white; margin-top: 30px;border-radius: 18px;"
                (click)="btnClick()">Start your search</button>
            </div>
            <!-- *ngIf="sendservice.isNewTask" -->
          </form>
        </div>

        <div class="travel_bx">
          <h4 style="font-weight: 700;">Countries to travel</h4>
          <div class="cards">
            <div class="card1">
              <h3>INDIA <img src="../../assets/icon/india.png" alt=""></h3>
              <img src="../../assets/img/Mumbai-India-at-night.jpg" alt="">
              <div class="btn_city" id="wow">
                <a [routerLink]="['/package/1']" routerLinkActive="active">Learn More</a>
                <h5>Mumbai Central <br> <span>₹460</span></h5>
              </div>
            </div>
            <div class="card1">
              <h3>UNITED STATES <img src="../../assets/icon/united-states.png" alt=""></h3>
              <img src="../../assets/img/newyork.webp" alt="">
              <div class="btn_city">
                <a>Learn More</a>
                <h5>New York <br> <span>₹870</span></h5>
              </div>
            </div>
            <div class="card1">
              <h3>RUSSIA <img src="../../assets/icon/russia.png" alt=""></h3>
              <img src="../../assets/img/sanpitersburg.jpg" alt="">
              <div class="btn_city">
                <a>Learn More</a>
                <h5>Saint Petersburg <br> <span>₹660</span></h5>
              </div>
            </div>
            <div class="card1">
              <h3>SPAIN <img src="../../assets/icon/spain.png" alt=""></h3>
              <img src="../../assets/img/barcelona.jpg" alt="">
              <div class="btn_city">
                <a>Learn More</a>
                <h5>Barcelona <br> <span>₹730</span></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="offers">
    <h1>Best tour Package offers for You</h1>
    <p>choose your next destination</p>
    <div class="cards">
      <div class="card1">
        <h3>Baga Beach - Goa</h3>
        <div class="img_text">
          <img src="../../assets/img/Goa4.jpg" alt="">
          <h4>Included: Air ticket, Hotel, Breakfast, Tours, Airport Transfer</h4>
        </div>
        <div class="cont_bx">
          <div class="price">
            <div class="heart_chat">
              <i class="bi bi-heart-fill"><span>86415</span></i>
              <i class="bi bi-chat-fill"><span>4586</span></i>
            </div>
            <div class="info_price">
              <a [routerLink]="['/Premium']" routerLinkActive="active">More Info</a>
              <h4>₹2648</h4>
            </div>
          </div>
          <div class="dayes" [routerLink]="['/Premium']" routerLinkActive="active">4 Days <br> India</div>
        </div>
      </div>
      <div class="card1">
        <h3>Burj Khalifa-DXB</h3>
        <div class="img_text">
          <img src="../../assets/img/burjkhlifa.jpg" alt="">
          <h4>Included: Air ticket, Hotel, Breakfast, Tours, Airport Transfer</h4>
        </div>
        <div class="cont_bx">
          <div class="price">
            <div class="heart_chat">
              <i class="bi bi-heart-fill"><span>86415</span></i>
              <i class="bi bi-chat-fill"><span>4586</span></i>
            </div>
            <div class="info_price">
              <a>More Info</a>
              <h4>₹2648</h4>
            </div>
          </div>
          <div class="dayes" id="omg">5 Days <br> Dubai</div>
        </div>
      </div>
      <div class="card1">
        <h3>Darjeeling - Bengal</h3>
        <div class="img_text">
          <img src="../../assets/img/Dar1.png" alt="">
          <h4>Included: Air ticket, Hotel, Breakfast, Tours, Airport Transfer</h4>
        </div>
        <div class="cont_bx">
          <div class="price">
            <div class="heart_chat">
              <i class="bi bi-heart-fill"><span>86415</span></i>
              <i class="bi bi-chat-fill"><span>4586</span></i>
            </div>
            <div class="info_price">
              <a [routerLink]="['/Diamond']" routerLinkActive="active">More Info</a>
              <h4>₹2648</h4>
            </div>
          </div>
          <div class="dayes" [routerLink]="['/Diamond']" routerLinkActive="active">4 Days <br> India</div>
        </div>
      </div>
      <div class="card1">
        <h3>Pyramids-Egypt</h3>
        <div class="img_text">
          <img src="../../assets/img/piramids.jpg" alt="">
          <h4>Included: Air ticket, Hotel, Breakfast, Tours, Airport Transfer</h4>
        </div>
        <div class="cont_bx">
          <div class="price">
            <div class="heart_chat">
              <i class="bi bi-heart-fill"><span>86415</span></i>
              <i class="bi bi-chat-fill"><span>4586</span></i>
            </div>
            <div class="info_price">
              <a>More Info</a>
              <h4>₹2648</h4>
            </div>
          </div>
          <div class="dayes" id="omg">7 Days <br> Egypt</div>
        </div>
      </div>
    </div>
  </div>
  <div class="destination" style="margin-bottom: 30px;">
    <div class="des_bx">
      <h4>Our Destination</h4>
      <p>choose your next Destination</p>
      <li>India</li>
      <li>Dubai</li>
      <li>USA</li>
      <li>Vietnam</li>
      <li>Russia</li>
      <li>Brazil</li>
      <h6>Included: Air ticket, Hotel, Breakfast, Tours, Airport transfer</h6>
      <!-- <button>MORE INFO</button> -->
    </div>
    <div class="img_bx">
      <img src="../../assets/img/Main_plan.png" alt="">
      <div class="msg">
        <img src="../../assets/icon/round_india_flag.png" alt="">
        <div class="cont">
          <h4>India</h4>
          <div class="icon">
            <i class="bi bi-heart-fill"><span>86415</span></i>
            <i class="bi bi-chat-fill"><span>4586</span></i>
          </div>
        </div>
      </div>
      <div class="msg">
        <img src="../../assets/icon/united-states.png" alt="">
        <div class="cont">
          <h4>United States</h4>
          <div class="icon">
            <i class="bi bi-heart-fill"><span>86415</span></i>
            <i class="bi bi-chat-fill"><span>4586</span></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="review">

    <section class="gradient-custom">
      <div class="container my-5 py-5">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12">
            <div class="text-center mb-4 pb-2">
              <i class="fas fa-quote-left fa-3x text-black"></i>
            </div>

            <div class="card">
              <div class="card-body px-4 py-5">
                <!-- Carousel wrapper -->
                <div id="carouselDarkVariant" data-bs-carousel-init class="carousel slide carousel-dark"
                  data-bs-ride="carousel">
                  <!-- Inner -->
                  <div class="carousel-inner pb-5">
                    <!-- Single item -->
                    <div class="carousel-item active">
                      <div class="row d-flex justify-content-center">
                        <div class="col-lg-10 col-xl-8">
                          <div class="row">
                            <div class="col-lg-4 d-flex justify-content-center">
                              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                                class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                                height="150" />
                            </div>
                            <div class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                              <h4 class="mb-4">
                                Sarah Johnson, New York City
                              </h4>
                              <p class="mb-0 pb-3">
                                I had an incredible experience booking my vacation through this travel website. The user
                                interface was intuitive, and I
                                easily found the perfect package for my budget and preferences. I highly recommend this
                                website to anyone looking for a
                                hassle-free travel planning experience!
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Single item -->
                    <div class="carousel-item">
                      <div class="row d-flex justify-content-center">
                        <div class="col-lg-10 col-xl-8">
                          <div class="row">
                            <div class="col-lg-4 d-flex justify-content-center">
                              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                                class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                                height="150" />
                            </div>
                            <div class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                              <h4 class="mb-4">
                                Emily Chen, Singapore </h4>
                              <p class="mb-0 pb-3">
                                As a frequent traveler, I've tried numerous travel websites, but this one stands out
                                from the rest. The website's clean
                                design and easy navigation make it a breeze to search for and book flights, hotels, and
                                rental cars. I particularly love
                                the 'Explore' feature, which allows me to discover new destinations based on my travel
                                style and preferences.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Single item -->
                    <div class="carousel-item">
                      <div class="row d-flex justify-content-center">
                        <div class="col-lg-10 col-xl-8">
                          <div class="row">
                            <div class="col-lg-4 d-flex justify-content-center">
                              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
                                class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                                height="150" />
                            </div>
                            <div class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                              <h4 class="mb-4">
                                Michael Thompson, London </h4>
                              <p class="mb-0 pb-3">
                                I've been using this travel website for years, and it never disappoints. The wide range
                                of destinations and
                                accommodation options is impressive, and I always find great deals. The website's travel
                                guides and tips have been
                                invaluable in helping me plan my itineraries and make the most of my trips.
                                Keep up the excellent work!
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Inner -->

                  <!-- Controls -->
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselDarkVariant"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselDarkVariant"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                <!-- Carousel wrapper -->
              </div>
            </div>

            <div class="text-center mt-4 pt-2">
              <i class="fas fa-quote-right fa-3x text-black"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>